@import './variables';
@import './header';
@import './addHeaderBorder';
@import './addTitle';
@import './signin';
@import './addHeaderNav';
@import './newsletter';
@import './newsletter_content';
@import './newsletter_archive';
@import './newsletter_add';
@import './infoBox';

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: 39px 140px;
    font-family: "Encode Sans";
}