.action {
    height: 24px;
    width: 74px;
    border: 1px solid $color-grey-one;
    border-radius: 16px;
    text-align: center;
    color: $color-grey-one;
}

.edit-newsletter {
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: white;
    border-color: white;
}

.add-newsletter {
    position: absolute;
    top: -36px;
    right: 10px;
}

.newsletter-content {
    height: 665px;
    width: 961px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;

    .image-container {
        position: relative;

        img {
            border-radius: 5px 5px 0 0;
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 40px;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
        }

    }

    p {
        margin: 63px 60.5px;
    }
}