textarea {
    min-height: 355px;
    resize: none;
}

form {
    min-width: 629px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    div {
        transform: translateX(-64.5px);
        label {
            width: 129px;
            color: $color-red;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
        }
        input, textarea {
            height: 40px;
            width: 500px;
            border: 1px solid #e6e6e6;
            border-radius: 5px;
        }
    }

    .email {
        margin-top: 77px;
    }
    .password {
        margin-top: 41px;
    }
    .signin-button {
        margin-top: 87px;
        height: 40px;
        width: 216.16px;
        border-radius: 20px;
        background-color: $color-red;
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
}